anyascii                 
asgiref                  
autopep8                 
beautifulsoup4           
bleach                   
blinker                  
certifi                  
charset-normalizer       
chartjs                 
click                  
colorama                
crispy-bootstrap5       
defusedxml              
Django                  
django-admin-tools      
django-admin-tools-stats 
django-blog              
django-bona-blog        
django-bower           
django-ckeditor          
django-crispy-forms     
django-filter            
django-js-asset          
django-jsonfield         
django-modelcluster     
django-nvd3              
django-permissionedforms 
django-qsstats-magic     
django-taggit           
django-tinymce4-lite    
django-treebeard       
djangorestframework     
djcacheutils            
draftjs-exporter      
et-xmlfile               
filetype              
fontawesomefree         
gunicorn                
html5lib              
idna                    
Jinja2                  
jsmin                   
l18n                    
MarkupSafe              
openpyxl               
Pillow                 
pillow-heif            
pip                      
pycodestyle             
python-dateutil       
python-memcached       
python-nvd3             
python-slugify          
pytz                   
requests               
setuptools              
six                    
soupsieve            
sqlparse                 
svgwrite                
telepath              
toml                    
Tree                     
typing_extensions        
tzdata                  
Unidecode             
urllib3                 
wagtail                  
webencodings            
whitenoise              
Willow                   