{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}
<div class="container-fluid">
<div class="card-wrapper" id="wrapper">
    <div class="container"></div>
    <br>
    <br>
    <div class="page-title db">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    
                    <h2> About Us 
                        <small class="hidden-xs-down hidden-sm-down">Our services, address and social media </small>
                    </h2>
                
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">about_us</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ol>
                </div><!-- end col -->                    
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->
  

    <section class="section lb">
        <div class="container">
            <div class="row">
               
                    <div class="page-wrapper">

                        <div class="row justify-content-center">
                            <div class="col-12 col-md-12 col-lg-7 image-wrapper">
                                <img class="w-100 animate__animated animate__delay-1s animate__fadeIn" src="{% static 'blogapp/images/version/logo.png' %}"  alt="">
                            </div>
                            <div class="col-12 col-lg col-md-12">
                                <div class="text-wrapper align-left">
                                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2 animate__animated animate__delay-1s animate__fadeIn"><strong>About us</strong></h1>
                                    <p class="mbr-text mbr-fonts-style mb-4 display-7 animate__animated animate__delay-1s animate__fadeIn">
                                        Most blocks can be used with various types of backgrounds: color, pictures, or videos. It can be set in Block Parameters.&nbsp;You can show/hide the title, subtitle, text, button in the Block Parameters (blue gear icon at the top right corner of the block).&nbsp;</p>
                                    <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-7 animate__animated animate__delay-1s animate__fadeIn" href="https://mobiri.se">Start now</a></div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                
            </div> 
            
            <div class="row justify-content-center mt-4">
                <div class="card col-12 col-md-5">
                    <div class="card-wrapper">
                        <div class="text-wrapper">
                            <h5 class="cardTitle mbr-fonts-style mb-2 display-5 animate__animated animate__delay-1s animate__fadeIn">
                            <strong>Get in touch</strong></h5>
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn"><span style="font-size: 1.4rem;">Phone: </span><a href="tel:+12345678910" class="text-primary animate__animated animate__delay-1s animate__fadeIn" style="font-size: 1.4rem;">0 (800) 123 45 67</a><br></li>
                            <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">WhatsApp: <a href="https://wa.me/12345678910" class="text-primary animate__animated animate__delay-1s animate__fadeIn">0 (800) 123 45 67</a></li>
                            <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">Email: <a href="mailto:info@site.com" class="text-primary animate__animated animate__delay-1s animate__fadeIn">info@site.com</a></li><li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn"><br></li>
                            <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">Address: </li><li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">350 5th Ave, New York, NY 10118</li><li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn"><span style="font-size: 1.4rem;">Working hours:</span><br></li><li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">9:00AM - 6:00PM</li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div class="map-wrapper col-12 col-md-7">
                    <div class="google-map">
                        <iframe frameborder="0" style="border:0" 
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen" allowfullscreen="">
                        </iframe></div>
                    </div>

            </div>
        </div>
        
    </section>   
           
</div>
</div>
{% endblock content %}