{% load static %}

<div class="custombox authorbox clearfix">
    <h4 class="small-title">About author</h4>
    <div class="row">
        
            <!-- 
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <img src="{% static 'upload/author.jpg ' %}" alt="" class="img-fluid rounded-circle"> 
        </div>  end col -->

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <h4><a href="#">Dr Baba Zawadi </a></h4>
            <p class="text-black">In Africa, is where you can find a traditional doctor who can cast a spell to anyone using spiritual powers and local herbs,
                 we came across one of the spiritual witchdoctors who have stayed in the game for many years and we proved that Dr. Baba Zawadi is among the top ten traditional herbalist in casting a spells 
                 and healing traditionally using local medicines without you the need for you even meeting him, he can also meditate your thoughts, feelings and emotions in just seconds.

                You can link up with him incase you are in need of his spiritual services by either visiting his temple in Uganda, or contacting him on his mobile number +254110575798 or <a href="#">Chat on WhatsApp</a> , don't hesitate to contact him directly.</p>

            <div class="topsocial">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
            </div><!-- end social -->

        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end author-box -->
