{% extends 'base.html' %}

{% block title %}Blog Home{% endblock title %}
{% load static %}

{% block content %}
<section data-bs-version="5.1" class="features4 cid-tMlEXTHLbS" id="features04-w" style="padding-top: 10%; padding-left: 10%;">

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="container-fluid">
            <h2 class="head">
                <div class = "text-black" >
                    
                    <h1 class="header07-1p text-black"> 
                        <strong>Welcome to Dr. Zilaba's website.</strong>

                    </h1>
                    <a class="btn btn-black display-4" href="{% url 'contact_us' %}"> Start Now!</a>
                    <br>
                    In Africa, is where you can find a traditional doctor who can cast a spell to anyone using spiritual 
                    powers and local herbs, we came across one of the spiritual witchdoctors who have stayed in the game for many 
                    years and we proved that Dr. Zilaba is among the top ten traditional herbalist in casting a spells and healing 
                    traditionally using local medicines without you the need for you even meeting him, he can also meditate your thoughts, 
                    feelings and emotions in just  seconds. 
                    <br>
                    <br>
                    You can link up with him incase you are in need of his spiritual 
                    services by either visiting his temple in Uganda, or contacting him on his mobile 
                    number/WhatsApp +254110575798, don't hesitate to contact him directly.

                </div>
            </h2>
        </div>
        </div>
        </div>


</section>

{% endblock content %}