{% extends 'base.html' %}
{% load static %}
{% block title %}Video{% endblock title %}

{% block content %}


    
  <section class="section">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                </div>
            </div>
        </div>

    <div class="container">
          
        
          <div class="topbg"></div>
            <div class="align-center container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-12 mb-5 content-head">
                      <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1">
                        <strong>Video of our work</strong>
                      </h1>
                      
                     
                    </div>
                </div>
            
                <div class="row justify-content-right Responsive">
                  <div class="col-12 col-md-8"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/-BSQlJxCDcI?rel=0&amp;amp;mute=1&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=-BSQlJxCDcI" width="800" height="400" frameborder="0" allowfullscreen></iframe></div>
                </div>
                
                
            </div>

           
          
            

    </div>
    

  </section>


{% endblock%}